
.container {

}

.contentContainer {

    display: flex;
    flex-direction: row;
}

.galleryContainer {

    max-width: 40%;
}

.textContainer {

    padding-top: 64px;
    padding-right: 16px;
    text-wrap: pretty;
    text-align: justify;
}
