
.container {

}

.contentContainer {

    display: flex;
    flex-direction: row;
}

.galleryContainer {

    max-width: 40%;
}

.textContainer {

    margin-top: 32px;
    padding: 16px;
    padding-right: 24px;
    text-wrap: pretty;
    text-align: justify;
    margin-right: 8px;
  
    border-radius: 16px;
    background-color: var(--absolute-color);
}
