
@import '../../colors.css';

.container {

}

.galleryImage {

    margin-bottom: 16px;

    border-radius: 16px;
    border-width: 4px;
    border-color: var(--primary-color);
}

.youTubeEmbed {

    margin-bottom: 16px;
}
