
@import '../colors.css';

.main {

    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 48px;

    max-width: 800px;
    width: 100%;
    justify-content: center;

    border-radius: 48px;
    border-color: #7A5AF1;
}

.header {

    width: 100%;
    font-weight: bold;
    background-color: #7A5AF1;

    padding: 8px;
    padding-bottom: 0px;
    
    border-top-left-radius: 48px;
    border-top-right-radius: 48px;
}

.headerText {

    font-size: 32px;
    width: 100%;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.softBg {

    background-color: var(--soft-color);
}
