
@import 'colors.css';

.main {

    margin: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 48px;

    max-width: 800px;
    width: 100%;
    justify-content: center;

    border-radius: 48px;
    border-color: #7A5AF1;
}

.header {

    width: 100%;
    font-weight: bold;
    background-color: #7A5AF1;

    padding: 8px;
    padding-bottom: 0px;
    
    border-top-left-radius: 48px;
    border-top-right-radius: 48px;
}

.headerText {

    font-size: 32px;
    width: 100%;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.softBg {

    background-color: var(--soft-color);
}

.navButtonContainer {

    background-color: white;
    border-radius: 999px;

    padding: 4px;
    border-width: 4px;
    border-color: #7A5AF1;
}

.navButton {

    padding: 4px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 999px;
}

.navButtonNotSelected:hover {

    background-color: #E5E0FF;
}

.navButtonSelected {

    background-color: #5928ED;
    color: white;
}
