
@property --white {
    
    syntax: "<color>";
    inherits: false;
    initial-value: white;
}

@media (prefers-color-scheme: light) {

    @property --text-color {
    
        syntax: "<color>";
        inherits: false;
        initial-value: #3313B9;
    }
    
    @property --interact-color {
    
        syntax: "<color>";
        inherits: false;
        initial-value: #5928ED;
    }
    
    @property --primary-color {
    
        syntax: "<color>";
        inherits: false;
        initial-value: #7A5AF1;
    }
    
    @property --soft-color {
    
        syntax: "<color>";
        inherits: false;
        initial-value: #E5E0FF;
    }
    
    @property --absolute-color {
    
        syntax: "<color>";
        inherits: false;
        initial-value: white;
    }
}


@media (prefers-color-scheme: dark) {

    @property --text-color {
    
        syntax: "<color>";
        inherits: false;
        initial-value: #E5E0FF;
    }
    
    @property --interact-color {
    
        syntax: "<color>";
        inherits: false;
        initial-value: #7A5AF1;
    }
    
    @property --primary-color {
    
        syntax: "<color>";
        inherits: false;
        initial-value: #B4A1F7;
    }
    
    @property --soft-color {
    
        syntax: "<color>";
        inherits: false;
        initial-value: #18114F;
    }
    
    @property --absolute-color {
    
        syntax: "<color>";
        inherits: false;
        initial-value: black;
    }
}
