
@import '../../colors.css';

.navButtonContainer {

    background-color: var(--absolute-color);
    border-radius: 999px;

    padding: 6px;
    border-width: 4px;
    border-color: var(--primary-color);
}

.navButton {

    padding: 4px;

    padding-left: 12px;
    padding-right: 12px;

    margin-left: 2px;
    margin-right: 2px;

    border-radius: 999px;
    text-decoration-line: none;
}

.navButtonNotSelected:hover {

    background-color: var(--soft-color);
}

.navButtonSelected {

    background-color: var(--interact-color);
    color: var(--absolute-color);
}

.navStyle {
            
    font-size: 18px;
    justify-content: center;
    align-content: center;
    width: 100%;
    max-width: 800px;
    height: 48px;
    margin-top: -48px;
};

.navStickyStyle {

    position: fixed;
    top: 0px;
    align-self: center;
    margin-top: 16px;
}

.navBlock {

    height: 48px;
    background-color: var(--primary-color);
}